[Unit]
Description=Connext Exporter
After=network.target

[Service]
Type=simple
User=connext
Group=connext
ExecStart=/home/connext/exporter/exporter -c /home/connext/exporter/exporter.conf -r /home/connext/router/config.json

SyslogIdentifier=connext_exporter
Restart=always

[Install]
WantedBy=multi-user.target
