version: "3.8"

services:
  router:
    container_name: router
    image: ghcr.io/connext/router:$ROUTER_VERSION
    restart: always
    ports:
     #- "127.0.0.1:$ROUTER_EXTERNAL_PORT:8080" #if you want to open router api port only to localhost
      - $ROUTER_EXTERNAL_PORT:8080
    volumes:
      - ./config.json:/config/config.json
    environment:
      - NXTP_CONFIG_FILE=/config/config.json
    logging:
      driver: json-file
      options:
        max-size: 10m
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    depends_on:
      - "signer"
    networks:
      - nxtp

  ################################################################################

  signer:
    container_name: signer
    image: "consensys/web3signer:develop"
    command: "--config-file=/home/node/signer/config.yaml eth1"
    restart: always
    volumes:
      - ./data/signerConfig/config.yaml:/home/node/signer/config.yaml
      - ./key.yaml:/home/node/signer/keyFiles/key.yaml
    logging:
      driver: json-file
      options:
        max-size: 10m
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      - nxtp

  ################################################################################

  logdna:
    container_name: logdna
    image: logdna/logspout:v1.2.0
    restart: always
    environment:
      LOGDNA_KEY: $LOGDNA_KEY
      TAGS: $LOGDNA_TAG
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: json-file
      options:
        max-size: 10m
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      - nxtp

  ################################################################################

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: always
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=45d
    volumes:
      - ./data/prometheusConfig/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/prometheusConfig/alert.rules.host:/etc/prometheus/alert.rules.host
      - ./data/prometheusConfig/alert.rules.prod:/etc/prometheus/alert.rules.prod
      # - ./data/prometheusConfig/alert.rules.router:/etc/prometheus/alert.rules.router
      - prometheus:/prometheus
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: always
    ports:
      - $GRAFANA_EXTERNAL_PORT:3000
    volumes:
      - ./data/grafanaConfig/grafana:/etc/grafana
      - ./data/grafanaConfig/dashboards:/etc/dashboards
      - grafana:/var/lib/grafana
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yml
    volumes:
      - ./data/lokiConfig:/etc/loki
      - loki:/loki
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers
      - ./data/promtailConfig/config.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

  ################################################################################

  node-exporter:
    container_name: node-exporter
    image: prom/node-exporter:v1.1.2
    restart: always
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns)(/)
    cap_add:
      - SYS_TIME
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:v0.39.0
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      - nxtp

################################################################################

networks:
  nxtp:

volumes:
  prometheus:
  grafana:
  loki:

